{% extends 'base.html.twig' %}

{% block title %}Blog - overview{% endblock %}

{% block content %}
    <h1>Overview</h1>
    {% for post in pagination %}
        <section>
            <h2>
                <a href="{{ path('show_post', {id: post.id}) }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.description }}</p>
            <time>
                <small>{{ post.created|date("m/d/Y") }}</small>
            </time>
            <p>
                <small>Author: <b>{{ post.author.name }}</b> - {{ post.author.email }}</small>
            </p>
            {% set number_of_comments = 0 %}
            {% for comment in comments %}
                {% if post.id == comment.post.id %}
                    {% set number_of_comments = number_of_comments + 1 %}
                {% endif %}
            {% endfor %}
            <p><small>Comments: {{ number_of_comments }}</small></p>
        </section>
        <hr>
    {% endfor %}
    <p>{{ knp_pagination_render(pagination) }}</p>
    <a href="{{ path('home') }}">Back</a>
{% endblock %}