{% extends 'base.html.twig' %}

{% block title %}Blog - detail{% endblock %}

{% block content %}
    <h1>Detail</h1>
    <article>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <time>
            <small>{{ post.created|date("m/d/Y") }}</small>
        </time>
        <hr>
        {% for comment in comments %}
            {% if post.id == comment.post.id %}
                <section>
                    <p>
                        <small>{{ comment.content }}</small>
                    </p>
                    <p>
                        <small>Author: <b>{{ comment.author.name }}</b> - {{ comment.author.email }}</small>
                    </p>
                    <time>
                        <small>{{ comment.created|date("m/d/Y") }}</small>
                    </time>
                </section>
                <hr>
            {% endif %}
        {% endfor %}
        <a href="{{ path('posts') }}">Back</a>
    </article>
{% endblock %}